

div#psychmode{
    background-color:#FF00FF;
    top:34px;
    padding:2px 5px;
    cursor:pointer;
    position:absolute;
    right:10px;
    font-size:.8em;
    text-decoration:underline;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

html.psychedelic{
    background-color:#010101
}
html.psychedelic body{
    color:#bababa
}html.psychedelic div#psychmode{
    color:#fff;
    background-color:#000
}
html.psychedelic blockquote{
    color:#dad0c7
}
html.psychedelic blockquote:before{
    color:#bfbfbf
}
html.psychedelic a{
    color:#07a
}
html.psychedelic a:visited{
    color:#ac5a82
}
html.psychedelic span.wr{
    color:#c0392b
}
html.psychedelic span.mfw{
    color:#19b496